.form-area {
    width: 100%;
    text-align: center;
    border: 1px dashed #4DB8FF;
    &.edit {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 0;
        border-right: 0;
        text-align: left;
    }

    .title {
        line-height: 88px;
    }
}