 .setting-name {
        line-height: 30px;
    }

    .radio-setting {
        margin-bottom: 15px;
    }

    .plus, .minus {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }